/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import 'about';
@import 'banner';
@import 'home';
@import 'projects';
@import 'skills';
@import 'contact';
@import 'font_color';
@import 'fortefans';
@import 'connectgolf';

html, body {
  font-family: 'Oswald', sans-serif;
  color: '#87AEDF';
  min-height: 100%;
  text-transform: 'uppercase'
}

#content-wrapper {
  background-image: linear-gradient(to right, #0f172a, #0f172a);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
