.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 750px;
}

.social-icons-container {
  display: flex;
  margin: 50px;
  justify-content: space-between;
  width: 12%;
}

.social-icon {
  color: #fafaf9;
  transform: scale(2.0);
}
