$blueGray-50: #f8fafc;
$blueGray-100: #f1f5f9;
$blueGray-200: #e2e8f0;
$blueGray-300: #cbd5e1;
$blueGray-400: #94a3b8;
$blueGray-500: #64748b;
$blueGray-600: #475569;
$blueGray-700: #334155;
$blueGray-800: #1e293b;
$blueGray-900: #0f172a;
