.react-native-container {
  display: flex;
  justify-content: center;
  margin: 100px
}

.artist-profile-image {
  height: 650px;
  width: 330px;
}

.redux-image {
  height: 75%;
  width: 100%;
}

.fanlink-image {
  height: 75%;
  width: 100%;
}
