a {
  color: #FFFFFF;
  text-decoration: none;
}

.app {
  background-image: linear-gradient(to bottom, #2980B9, #6DD5FA);
  height: '100%';
  width: '100%';
}

.navbar {
  display: flex;
  justify-content: center;
}

.logo {
  min-width: 140px;
  max-height: 140px;
}

.logo-container {
  display: flex;
  justify-content: end;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  margin-top: 11px;
}

.icon-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-icon {
  transform: scale(1.4);
  margin: 7px;
  color: #FFFFFF;
}

.navbar-text:hover {
  color: #22d3ee;
}

.navbar-text {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
}

.container {
  margin-bottom: 5px;
}
