a {
  color: #FFFFFF;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  margin-top: 11px;
}

.icon-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-icon {
  transform: scale(1.4);
  margin: 7px;
  color: #f1f5f9;
}

.navbar-text {
  color: #f1f5f9;
  font-weight: bold;
  font-size: 13px;
}

.active-link .navbar-text {
  color: #cbd5e1;
  font-size: 15px;
}

.active-link .navbar-icon {
  transform: scale(2.0);
  color: #cbd5e1;
}
