.images {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cards-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  justify-content: center;
}

.code-images {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
